:root {
    --genre-color: #f88;
    --category-color: #2c2;
    --tag-color: #0dcaf0;
    --border-color: #09a8d0
}

/**************************************
ローディング画像
**************************************/
.loader {
    background: var(--tag-color);
    display: none;
    opacity: 0.6;
    left: 0;
    top: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.loader-animation {
    font-size: 40px;
    padding: 30px;
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 50%;
    text-align: center;
    color: var(--tag-color);
    z-index: 11;
    animation: load1 2.5s linear infinite;
}

.loader p {
    color: white;
    font-weight: bold;
}

@-webkit-keyframes load1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**************************************
全体
**************************************/
.success {
    border : 1px solid var(--tag-color);
    border-radius: 20px;
    background: var(--tag-color);
    color: white;
    padding: 1rem;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
    z-index: 100;
    animation: fadeOut 2s 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

main {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.main {
    width: calc(100% - 180px);
    padding: 20px;
}

/*
ヘッダー
*************************/
#app nav {
    background: var(--tag-color);
    color: white;
    font-weight: bold;
}

.header-menu {
    color: white;
    font-weight: bold;
}

.header-menu:hover {
    border-radius: 10px;
    background: white;
    color: var(--tag-color);
    list-style: none;
}

.header-menu a {
    color: white;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.menu li {
    position: relative;
    min-width: 100px;
    margin-left: 1px;
    padding: 5px;
    background: var(--tag-color);
}

.menuSub {
    position: absolute;
    margin-left: -6px;
    list-style: none;
    padding: 0;
    display: none;
}

.menuSub li a {
    border: 1px solid var(--tag-color);
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    display: block;
    min-width: 100px;
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.menuSub li a:hover {
    background: white;
    color: var(--tag-color);
}

.header-selected {
    border-radius: 10px;
    background: white;
}

.header-selected a {
    color: var(--tag-color);
}

.search-toggler {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center
}

/**************************************
サイドバー
**************************************/
.side {
    width: 180px;
    border-right: 1px solid var(--border-color);
}

.side .side-inner {
    position: fixed;
    height: 100vh;
    padding-top: 20px;
    width: 180px;
}

.keyword {
    font-family: FontAwesome;
    width: 93%;
}

input[type=checkbox] {
    display: none;
}

.checkbox-label {
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.genre {
    border: 1px solid var(--genre-color);
    color: var(--genre-color);
}

.category {
    border: 1px solid var(--category-color);
    color: var(--category-color);
}

.tag {
    border: 1px solid var(--tag-color);
    color: var(--tag-color);
}

.genre:checked + label {
    background: var(--genre-color);
    color: #fff;
}

.category:checked + label {
    background: var(--category-color);
    color: #fff;
}

.tag:checked + label {
    background: var(--tag-color);
    color: #fff;
}

.tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    /* 親に対して中央配置 */
    transform: translateX(50%);
    bottom: -30px;
    /* 親要素下からの位置 */
    display: inline-block;
    padding: 5px;
    white-space: nowrap;
    /* テキストを折り返さない */
    font-size: 0.8rem;
    line-height: 1.3;
    /* 行間 */
    background: #eef;
    color: #114;
    border-radius: 3px;
    transition: 0.1s ease-in;
}

.checkbox-label:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.search-btn {
    background: var(--tag-color);
    color: #fff;
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 30px;
}

/*************************************
トップページ
*************************************/
.index-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    position: relative;
}

.index-card:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.24);
    transform: translate(0, -2px);
}

.card .card-img-top {
    height: 130px;
    object-fit: cover;
}

.card-text {
    font-size: 13.5px;
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card .score {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(223 244 243 / 85%);
    border-radius: 5px;
    padding: 2px 5px;
}

.card .draft {
    position: absolute;
    top: 40px;
    right: 10px;
    color: red;
    background-color: rgb(235 200 200 / 70%);
    border-radius: 5px;
    padding: 2px 5px;
}

.icon {
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.genre-icon {
    background: var(--genre-color);
    color: #fff;
}

.category-icon {
    background: var(--category-color);
    color: #fff;
}

.tag-icon {
    background: var(--tag-color);
    color: #fff;
}

.modal-body textarea {
    height: 150px;
    resize: none;
}

/*
詳細ページ
*************************/
.show-image img {
    width: 100%;
    height: 350px;
    object-fit: cover ;
}

.icon-list .checkbox-label {
    cursor: auto;
}

.ingredients-container {
}

.ingredients-list {
    display: flex;
    border-bottom: 1.5px dashed #dde;
}

.processes-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px dashed #dde
}

.process {
    height: 110px;
    width: 70%;
    resize: none;
}

.card .process-image {
    width: 100%;
    height: 110px;
    object-fit: contain;
}

.memo {
    resize: none;
}

/*
登録・編集ページ
*************************/
.edit-title {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.alert-message {
    color: red;
}

.scrape-logo {
    height: 35px;
    border: 1px solid #aab;
    border-radius: 7px;
    padding: 3px;
    margin-right: 10px;
}

.scrape-radio:checked + label {
    border: 2px solid #5fecf5;
    transform: scale(1.2, 1.2);
}

.scrape-logo img {
    height: 100%;
}

.top-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.imageUpload {
    display: none;
}

.preview {
    cursor: pointer;
    transition: 0.3s;
}

.preview:hover {
    filter: brightness(0.8);
}

.clear-image {
    cursor: pointer;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

/*
タグ編集ページ
*************************/
.drawDiv {
    height : 200px;
    overflow-Y : scroll;
}

.clear-icon {
    cursor: pointer;
}

/*
お知らせページ
*************************/
.notice-content {
    white-space: pre-wrap;
}

/*
きょうのごはん
*************************/
#js-modal-today .today-header {
    color: white;
}

#js-modal-today {
    position: relative;
    height: 100vh;
}

#js-modal-today .nabe-close {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%,0%);
    width: 200px;
    animation: gutugutu 1s 1s ease-out 2, fadeOut 1s 3s forwards;
}

#js-modal-today .nabe-open {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%,0%);
    width: 200px;
    opacity: 0;
    animation: fadeIn 2s 3s forwards;
}

@keyframes gutugutu {
    0% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }

    15% {
        transform: translate(-53%,3%) rotateZ(1deg)
    }

    30% {
        transform: translate(-50%,3%) rotateZ(0deg)
    }

    45% {
        transform: translate(-53%,0%) rotateZ(-1deg)
    }

    60% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }

    100% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#js-modal-today a {
    position: absolute;
    opacity: 0;
    top: 70vh;
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
    text-align: center;
    text-decoration: none;
}

#js-modal-today a img {
    border-radius: 50%;
    object-fit: cover;
    transition: box-shadow 0.3s, transform 0.3s;
}

#js-modal-today .today-label {
    width: 9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#js-modal-today a img:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.24);
    transform: scale(1.1);
}

#js-modal-today .today-side img {
    width: 100px;
    height: 100px;
}

#js-modal-today .today-main img {
    width: 140px;
    height: 110px;
}

#js-modal-today .side1 {
    animation: tobidasu1 1s 4s forwards;
}

#js-modal-today .side2 {
    animation: tobidasu2 1s 4.5s forwards;
}

#js-modal-today .side3 {
    animation: tobidasu3 1s 5s forwards;
}

#js-modal-today .today-main {
    animation: tobidasu4 1s 3.5s forwards;
}

#js-modal-today p {
    opacity: 0;
    animation: fadeIn 1s 6s forwards;
}

@keyframes tobidasu1 {
    0% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }

    60% {
        opacity: 1;
        transform: translate(-130%,-170%) rotateZ(0deg)
    }

    100% {
        opacity: 1;
        transform: translate(-150%,-140%) rotateZ(0deg)
    }
}

@keyframes tobidasu2 {
    0% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }

    65% {
        opacity: 1;
        transform: translate(-105%, -300%) rotateZ(0deg)
    }

    100% {
        opacity: 1;
        transform: translate(-120%, -290%) rotateZ(0deg)
    }
}

@keyframes tobidasu3 {
    0% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }

    60% {
        opacity: 1;
        transform: translate(30%, -180%) rotateZ(0deg)
    }

    100% {
        opacity: 1;
        transform: translate(50%, -150%) rotateZ(0deg)
    }
}

@keyframes tobidasu4 {
    0% {
        transform: translate(-50%,0%) rotateZ(0deg)
    }

    60% {
        opacity: 1;
        transform: translate(-50%,-210%) rotateZ(0deg)
    }

    100% {
        opacity: 1;
        transform: translate(-50%,-180%) rotateZ(0deg)
    }
}

/*****************************************
レスポンシブ
*****************************************/
@media screen and (max-width: 480px) {
    .main {
        width: 100%;
    }

    .side {
        width: 100%;
    }

    .side .side-inner {
        height: 100vh;
        padding: 20px;
        width: 100%;
    }

    .keyword {
        width: 80%;
    }

    .top-image {
        height: 150px;
    }

    .show-image img {
        height: 200px;
    }

    #js-modal-today .nabe-close {
        width: 120px;
    }

    #js-modal-today .nabe-open {
        width: 120px;
    }

    #js-modal-today .today-side img {
        width: 70px;
        height: 70px;
    }

    #js-modal-today .today-main img {
        width: 100px;
        height: 90px;
    }

    #js-modal-today .today-label {
        width: 8rem;
    }
}
