:root {
  --genre-color: #f88;
  --category-color: #2c2;
  --tag-color: #0dcaf0;
}

main {
    display: flex;
    justify-content: center;
}
.main {
    width: calc(100% - 180px);
    padding: 20px;
}

/*
ヘッダー
*************************/
nav {
    position: fixed;
    top: 0;
}

.header{    position: fixed;
    top: 0;
}

/*
サイドバー
*************************/
.side {
    width: 180px;
    border-right: 1px solid #eef;
}

.side .side-inner {
    position: sticky;
    height: 100vh;
    top: 0px;
    padding-top: 20px;
}

.keyword{
    font-family: FontAwesome;
    width: 90%;
}

input[type=checkbox] {
    display: none;
}

.checkbox-label {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.genre {
    border: 1px solid var(--genre-color);
    color: var(--genre-color);
}

.category {
    border: 1px solid var(--category-color);
    color: var(--category-color);
}

.tag {
    border: 1px solid var(--tag-color);
    color: var(--tag-color);
}

.genre:checked + label {
    background: var(--genre-color);
    color: #fff;
}

.category:checked + label {
    background: var(--category-color);
    color: #fff;
}

.tag:checked + label {
    background: var(--tag-color);
    color: #fff;
}

.tooltip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%; /* 親に対して中央配置 */
    transform: translateX(50%);
    bottom: -30px; /* 親要素下からの位置 */
    display: inline-block;
    padding: 5px;
    white-space: nowrap; /* テキストを折り返さない */
    font-size: 0.8rem;
    line-height: 1.3; /* 行間 */
    background: #eef;
    color: #114;
    border-radius: 3px;
    transition: 0.1s ease-in;
}

.checkbox-label:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

/*
トップページ
*************************/
.index-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    position: relative;
}

.index-card:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.24);
    transform: translate(0, -2px);
}

.card img {
    height: 130px;
    object-fit: cover;
}

.card-text{
    font-size: 14.5px;
    color: gray;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.card .score {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(223 244 243 / 70%);
    border-radius: 5px;
    padding: 2px 5px;
}

.card .draft {
    position: absolute;
    top: 40px;
    right: 10px;
    color: red;
    background-color: rgb(235 200 200 / 70%);
    border-radius: 5px;
    padding: 2px 5px;
}

.icon {
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

.genre-icon {
    background: var(--genre-color);
    color: #fff;
}

.category-icon {
    background: var(--category-color);
    color: #fff;
}

.tag-icon {
    background: var(--tag-color);
    color: #fff;
}

/*
詳細ページ
*************************/
.show-image img{
    width: 70%;
    height:350px;
    object-fit: cover;
}
.show-header{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.icon-list .checkbox-label{
    cursor: auto;
}
.ingredients-container {
}

.ingredients-list {
    width: 40%;
    display: flex;
    border-bottom: 1.5px dashed #dde;
}

.ingredient {
    width: 70%;
}
.quantity{
    white-space: nowrap;
    width: 20%;
}

.processes-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px dashed #dde
}

.process {
    height: 130px;
    width: 70%;
    resize:none;
}

.process-image {
    width: 140px;
    height: 110px;
    object-fit:cover;
}

.memo{
    resize:none;
}

/*
登録ページ
*************************/
.alert-message{
    color: red;
}
.ingredient-forms{
    width: 90%;
}
.imageUpload{
display: none;
}

.preview{cursor: pointer;transition: 0.3s;}
.preview:hover{
filter: brightness(0.8);
}

/*
タグ編集ページ
*************************/

.drawDiv{height : 200px;
        overflow-Y : scroll;}